/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
* {
  font-family: "Inter" !important;
} */
.nav-container {
  max-width: 1250px !important;
  margin: 0 auto;
}
